<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <img
        src="assets/icon/favicon.png"
        alt="Logo"
        style="height: 30px; vertical-align: middle; margin-right: 10px"
      />
      <b>Pejuang News</b>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-section">
    <h1>Semua Kategori</h1>
    <p>Jelajahi berita berdasarkan topik favorit Anda.</p>
  </div>

  <ion-grid class="kategori-grid">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let k of kategoriList"
        (click)="goToBeritaByKategori(k.id)"
      >
        <ion-card class="kategori-card">
          <div class="card-icon-wrapper">
            <img [src]="k.icon" alt="icon kategori" class="card-icon" />
          </div>

          <ion-label class="kategori-nama-label">
            <span class="kategori-nama">{{ k.nama }}</span>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="fab-container">
    <button class="fab-extended ion-activatable ripple-parent" routerLink="/tambah-kategori">
      <ion-icon name="add" class="fab-icon"></ion-icon>
      <span class="fab-text">Tambah Kategori</span>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
</ion-content>
