

ion-list,
ion-item {
  --background: transparent;
  --inner-border-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.1);
}

ion-searchbar {
  --border-radius: 8px;
  margin: 0 16px 8px 16px;
}

.berita-section {
  margin-top: 10px;
}
.berita-section h2 {
  color: var(--ion-color-step-50, #ffffff);
}

.berita-card.compact-card {
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;

  &:hover {
    transform: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.05);
  }
}

/* Item di dalam Card */
.berita-card.compact-card ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  min-height: 130px;
}

ion-thumbnail {
  --size: 120px;
  border-radius: 8px;
  margin-right: 15px;
}
.berita-image-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.berita-judul-kompak {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 0;
  line-height: 1.3;
  color: #ffffff;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kategori-chip-kecil {
  height: 20px;
  font-size: 0.7rem;
  margin: 0 0 5px 0;
}

ion-item ion-icon {
  font-size: 1.2rem;
  color: #92949c;
}

ion-label {
  white-space: normal;
}
