:root {
  --ion-color-primary: #007bff;
  --ion-color-primary-shade: #0069d9;
  --ion-color-light-shade: #f4f5f8;
  --ion-color-medium-shade: #92949c;
  --ion-color-dark: #121212;
  --ion-color-step-50: #ffffff;
}

.kategori-section,
.berita-section {
  margin-top: 24px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.section-header h2 {
  margin: 0;
}
.lihat-semua-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--ion-color-primary);
}

.berita-card.compact-card {
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  border-bottom: 1px solid var(--ion-color-light-shade);
  transition: background-color 0.2s;

  &:hover {
    transform: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.berita-card.compact-card ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-end: 0;
  min-height: 130px;
  --background: transparent;
}

ion-thumbnail {
  --size: 120px;
  border-radius: 8px;
  margin-right: 15px;
}
.berita-image-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.berita-judul-kompak {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 0;
  line-height: 1.3;
  color: var(--ion-color-step-50);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kategori-chip-kecil {
  height: 20px;
  font-size: 0.7rem;
  margin: 0 0 5px 0;
}

ion-item ion-icon {
  font-size: 1.2rem;
  color: var(--ion-color-medium-shade);
}

ion-label {
  white-space: normal;
}

ion-chip {
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px);
    background: var(--ion-color-primary);
    color: white;
  }
}
.fab-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.fab-extended {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--ion-color-primary);
    color: white;
    border-radius: 30px;
    padding: 14px 20px;

    font-size: 16px;
    border: none;
    outline: none;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.fab-extended:active {
    opacity: 0.85;
}

.fab-icon {
    font-size: 22px;
}